* {
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: black;
}
#intro {
    width: 85%;
    height: auto;
}
#story-text-body {
    margin-left: 7.5%;
    width:85.5%;
    font-size: 20px;
    background-color: black;
    color: white;
}
.card-body{
    padding: 1px;
}
#startButton {
    background-color: #81C9BD;
    border-color: #81C9BD;
    font-family: 'Sigmar One', cursive;
    font-size: 30px;
}
.card-text {
   text-align: center;
}
#mainCard {
    background-color: black;
}
h1{
    color: #81C9BD;
    font-family: 'Sigmar One', cursive;
    font-size: 60px;
}

/*#row1 #row2 #row3 #row4{*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*}*/
/*To make the text glow*/
.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px darkcyan, 0 0 40px darkcyan, 0 0 50px darkcyan, 0 0 60px darkcyan, 0 0 70px darkcyan;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #81C9BD, 0 0 40px #81C9BD, 0 0 50px #81C9BD, 0 0 60px #81C9BD, 0 0 70px #81C9BD, 0 0 80px #81C9BD;
    }
}